#scottish-coast-bg.hidden-xs
  .container.max-size
    .row.text-center.max-size
      .col-md-6.col-sm-6.max-size
        %table.max-size
          %tbody.max-size
            %tr.max-size
              %td.max-size
                =image_tag 'logos/scotty_huge_white.png', style: 'width: 100%'
      .col-md-6.col-sm-6.max-size
        %table.max-size
          %tbody.max-size
            %tr.max-size
              %td.max-size
                %h1{style: 'line-height: .9'}
                  %div Discover & Share
                  %div
                    %i{style: 'font-size: 60%; position: relative; top: -5px'} your
                  %div
                    Favorite Scotches
                %a.fb_login{href: '/auth/facebook'}
                  =image_tag 'facebook-icon.png', style: 'width: 20px'
                  Log In With Facebook
#scottish-coast-bg-phones.visible-xs
  .container.max-size
    .row.text-center.max-size
      .col-xs-12.max-size
        %table.max-size
          %tbody.max-size
            %tr.max-size
              %td.max-size
                =image_tag 'logos/scotty_huge_white.png', style: 'width: 100%'
                %h1{style: 'line-height: .9'}
                  Discover & Share
                  %br
                  %i{style: 'font-size: 60%; position: relative; top: -5px'} your
                  %br
                  Favorite Scotches
                %a.fb_login{href: '/auth/facebook'}
                  =image_tag 'facebook-icon.png', style: 'width: 20px'
                  Log In With Facebook



