.container
  %p#notice= notice
  %p
    %strong Score:
    =@property_review.score
  %p
    %strong Cost:
    =@property_review.cost
  %p
    %strong Location:
    =@property_review.location
  %p
    %strong Condition:
    =@property_review.condition
  %p
    %strong Comments:
    =@property_review.comments
  
  = link_to 'Edit', edit_property_review_path(@property_review)
  |
  \#{link_to 'Back', property_reviews_path}
