#scottish-coast-bg
  .container
    .row.text-center{style: 'height: 900px'}
      .col-md-6{style: 'height: 100%'}
        %table{style: 'width: 100%; height: 100%'}
          %tbody{style: 'width: 100%; height: 100%'}
            %tr{style: 'width: 100%; height: 100%'}
              %td{style: 'width: 100%; height: 100%'}
                =image_tag 'logos/scotty_huge_white.png', style: 'width: 100%'
      .col-md-6{style: 'height: 100%'}
        %table{style: 'width: 100%; height: 100%'}
          %tbody{style: 'width: 100%; height: 100%'}
            %tr{style: 'width: 100%; height: 100%'}
              %td{style: 'width: 100%; height: 100%'}
                %h1
                  Discover & Share
                  %br
                  Your Favorite Scotches


