#scottish-coast-bg.hidden-xs
  .container{style: 'height: 100%'}
    .row.text-center{style: 'height: 100%'}
      .col-md-6.col-sm-6{style: 'height: 100%'}
        %table{style: 'width: 100%; height: 100%'}
          %tbody{style: 'width: 100%; height: 100%'}
            %tr{style: 'width: 100%; height: 100%'}
              %td{style: 'width: 100%; height: 100%'}
                =image_tag 'logos/scotty_huge_white.png', style: 'width: 100%'
      .col-md-6.col-sm-6{style: 'height: 100%'}
        %table{style: 'width: 100%; height: 100%'}
          %tbody{style: 'width: 100%; height: 100%'}
            %tr{style: 'width: 100%; height: 100%'}
              %td{style: 'width: 100%; height: 100%'}
                %h1{style: 'line-height: .9'}
                  Discover & Share
                  %br
                  %i{style: 'font-size: 60%; position: relative; top: -5px'} your
                  %br
                  Favorite Scotches
#scottish-coast-bg-phones.visible-xs
  .container{style: 'height: 100%'}
    .row.text-center{style: 'height: 100%'}
      .col-xs-12{style: 'height: 100%'}
        %table{style: 'width: 100%; height: 100%'}
          %tbody{style: 'width: 100%; height: 100%'}
            %tr{style: 'width: 100%; height: 100%'}
              %td{style: 'width: 100%; height: 100%'}
                =image_tag 'logos/scotty_huge_white.png', style: 'width: 100%'
                %h1{style: 'line-height: .9'}
                  Discover & Share
                  %br
                  %i{style: 'font-size: 60%; position: relative; top: -5px'} your
                  %br
                  Favorite Scotches




